body {
    margin: 0;
    padding: 0;
    background-color: #F9F9F9;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
} 

/*-----------------------NavBar-----------------------*/
nav {
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    flex: row wrap;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    background-color: white;
    
}

 #left-menu, #center-search-bar, #right-menu {
    display: flex;
    flex: row wrap;
    align-items: center;
    justify-content: left;
}

#left-menu {
    margin: 30px; 
}

button {
    border: none;
    margin-right: 30px;
    background: transparent;
}

.logo-you {
    width: 80px;
    height: 32px;
}

#search-button {
    border-radius: 0 2px 2px 0;
    border: 1px solid #CCCCCC;
    height: 34px;
    width: 65px;
    background-color: #F9F9F9;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-button:hover {
    background-color: #F0F0F0;
}

#search {
    border: 1px solid #CCCCCC;
    border-right: none;
    border-radius: 2px 0 0 2px;
    height: 32px;
    width: 570px;
    padding: 0 10px;
}

#search:focus {
    border: 1px solid blue;
    box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.3); 
}

#search-icon {
    width: 20px;
}

#sign-in {
    display: flex;
    flex: row wrap;
    padding: 10px;
    font-weight: 700;
    border: 1px solid blue;
    border-radius: 3px;
    color: blue;
    background-color: white;
}

aside{
    padding-top: 200px;

}

.autoplay{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#autoplay{
    color: grey;
}

.fa{
    color: blue;
}

img{
    width: 190px;
    height: auto;
    padding-right: 5px;
    
}



.thumbnail-images{
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0 ;


}
/*-----------------------MainVideo-----------------------*/

#main-video {
    margin-top: 30px;
    grid-column: 1 / 2;
}


.fa-user-circle {
    margin-right: 15px;
    width: 15px;
}
.search-bar {
    margin: 0;
    padding: 0;
}

.icon{
    width: 16px;
}

.container {
    display: flex;
    flex: row wrap;
    align-items: center;
    padding: 50px;
}

.left-menu {
    justify-content: left;
}

.center-menu {
    justify-self: center;
}

#video {
    padding-left: 5%;
    padding-top: 5%;
}

.video {
    width: 100%;
    height: 420px;
}

.photo {
    height: 45px; 
    width: 180px;
}

.text {
    padding-left: 5%;
    padding-top: 20px;
}

.video-title {
    font-size: 19px;
    color: black;
    padding-bottom: 10px; 
}

.one-line {
    display: inline-block;
    color: gray;

}

.text-bar {
    padding-left: 5%;
}

.thumbs-up {
    padding-left: 27%;
}

.icons {
    padding-left: 20px;
}

.subscribe {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3% 0 3% 0;
    

}

.t-series-logo {
    padding-left: 5%;
}

.subscribers-text {
    padding-left: 2%;
}

.subscribe-logo {
   padding-left: 50%; 
}


.bell {
    padding-left: 0.5%;
    padding-bottom: 0%;
}



small{
    color:gray;
    
    
}